### Visual Studio Code ###
.vscode

### Eclipse ###
.project
.classpath
.settings

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
out

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log


### Aether specific ###

# Persistent volumes
.persistent_data

# secrets
*.crt
*.csr
*.key
*.pem
*.p12
*.keystore
*.truststore
*_server_jaas.conf
*kafkacat.conf

# Environment variables
.env
.env.*
options.txt
