### Visual Studio Code ###
.vscode

### Eclipse ###
.project
.classpath
.settings

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
out

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Aether specific ###

# Persistent volumes
.persistent_data

# Environment variables
.env

# extra containers configuration
conf/nginx/sites-enabled/*.extra.conf
