dist: xenial

language: python
python:
  - '3.7'

services:
  - docker

install: true

script:
  - ./scripts/travis_tests.sh

after_script:
  # setup integration teardown
  - ./scripts/integration_test_teardown.sh
  - ./scripts/kill_all.sh

after_failure:
  - docker-compose -f docker-compose-test.yml logs -t --tail="all"
