version: "2.1"

services:

  # ---------------------------------
  # Database container
  # ---------------------------------

  postgres-base:
    image: postgres:9.6

  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx-base:
    image: nginx:stable-alpine
    volumes:
      # config file
      - ./scripts/conf/nginx.conf.local:/etc/nginx/conf.d/default.conf

      # media folders per container
      - ./tmp/kernel:/media/kernel
      - ./tmp/odk:/media/odk

      # ui static files
      - ./tmp/ui/bundles:/static/ui
    ports:
      - "80:80"


  # ---------------------------------
  # Aether kernel container
  # ---------------------------------

  kernel-base:
    image: ehealthafrica/aether-kernel:0.8.0-rc
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: kernel.aether.local

      RDS_DB_NAME: aether
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8000
    volumes:
      # media folder
      - ./tmp/kernel:/media
    ports:
      - "8000:8000"
    command: start_dev


  # ---------------------------------
  # ODK Adapter container
  # ---------------------------------

  odk-base:
    image: ehealthafrica/aether-odk:0.8.0-rc
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: odk.aether.local

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9001

      RDS_DB_NAME: aether-odk
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8443
    volumes:
      # media folder
      - ./tmp/odk:/media
    ports:
      - "8443:8443"
    command: start_dev


  # ---------------------------------
  # Aether UI module
  # ---------------------------------

  ui-base:
    image: ehealthafrica/aether-ui:0.8.0-rc
    environment: &ui-environment
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: ui.aether.local

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9001

      RDS_DB_NAME: aether-ui
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      STATIC_ROOT: /code/aether/ui/static
      WEB_SERVER_PORT: 8004

    ports:
      - "8004:8004"
    command: start_dev

  # ---------------------------------
  # Kafka & Zookeeper
  # ---------------------------------

  zookeeper-base:
    image: confluentinc/cp-zookeeper:latest
    restart: on-failure
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
    extra_hosts:
      - "moby:127.0.0.1"

  kafka-base:
    image: confluentinc/cp-kafka:latest
    restart: on-failure
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      ADVERTISED_HOST_NAME: kafka
    extra_hosts:
      - "moby:127.0.0.1"

  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  aether-producer-base:
    image: ehealthafrica/aether-producer:0.8.0-rc
    restart: on-failure
    stdin_open: true
    environment:
     - PYTHONUNBUFFERED=1
    command: start_dev
