version: "2"

services:

  # ---------------------------------
  # Database container
  # ---------------------------------

  postgres-base:
    image: postgres:9.6

  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx-base:
    image: nginx:stable-alpine
    volumes:
      # config file
      - ./scripts/conf/nginx.conf.local:/etc/nginx/conf.d/default.conf

      # media folders per container
      - ./tmp/kernel:/media/kernel
      - ./tmp/odk:/media/odk

      # ui static files
      - ./tmp/ui/bundles:/static/ui
    ports:
      - "80:80"


  # ---------------------------------
  # Aether kernel container
  # ---------------------------------

  kernel-base:
    image: ehealthafrica/aether-kernel:0.7.1
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: kernel.aether.local

      RDS_DB_NAME: aether-kernel
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8000
    volumes:
      # media folder
      - ./tmp/kernel:/media
    ports:
      - "8000:8000"
    command: start_dev


  # ---------------------------------
  # ODK Adapter container
  # ---------------------------------

  odk-base:
    image: ehealthafrica/aether-odk:0.7.1
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: odk.aether.local

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9001

      RDS_DB_NAME: aether-odk
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8443
    volumes:
      # media folder
      - ./tmp/odk:/media
    ports:
      - "8443:8443"
    command: start_dev


  # ---------------------------------
  # Aether UI module
  # ---------------------------------

  ui-base:
    image: ehealthafrica/aether-ui:0.7.1
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DEBUG: "true"
      DJANGO_SECRET_KEY: "secret"
      HOSTNAME: ui.aether.local

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9001

      RDS_DB_NAME: aether-ui
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      STATIC_ROOT: /code/aether/ui/assets/bundles
      WEB_SERVER_PORT: 8004
    volumes:
      - ./tmp/ui/bundles:/code/aether/ui/assets/bundles
      - ./tmp/ui/static:/var/www/static
    ports:
      - "8004:8004"
    command: start_dev

