# Registration and Generation of Entities
version: "2.1"

networks:
  aether:
    external:
      name: aether_internal

services:

  # ---------------------------------
  # Mock Data Container
  # ---------------------------------
  assets:
    build:
      context: ./assets/generation
      dockerfile: Dockerfile
    volumes:
      - ./assets:/code/assets
    environment:
      KERNEL_URL: ${GCP_KERNEL_URL}
      KERNEL_USER: ${KERNEL_ADMIN_USERNAME}
      KERNEL_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
      PROJECT_NAME: DefaultDemo
      SUBMISSION_ENDPOINT: default_mapping
    networks:
      - aether
