version: "2.1"

services:

  # ---------------------------------
  # Database
  # ---------------------------------

  postgres-base:
    image: postgres:9.6-alpine
    environment:
      PGUSER: postgres
    volumes:
      # data volume
      - ./.persistent_data/db/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 3s
      retries: 30


  # ---------------------------------
  # NGINX
  # ---------------------------------

  nginx-base:
    image: nginx:stable-alpine
    volumes:
      # config file
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/nginx/sites-enabled:/etc/nginx/sites-enabled

      # nginx log files
      - ./.persistent_data/nginx:/var/log/nginx/

      # aether favicon
      - ./assets/aether.ico:/media/eather.ico

      # media folders per container
      - ./.persistent_data/kernel/media:/media/kernel
      - ./.persistent_data/odk/media:/media/odk

      # static folders per container
      - ./.persistent_data/kernel/static:/static/kernel
      - ./.persistent_data/odk/static:/static/odk
      - ./.persistent_data/ui/static:/static/ui
    ports:
      # "HOST:CONTAINER"
      - "80:80"
      - "8443:8443"


  # ---------------------------------
  # Aether kernel
  # ---------------------------------

  kernel-base:
    image: ehealthafrica/aether-kernel:0.9.0-rc
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${KERNEL_DJANGO_SECRET_KEY}

      ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${KERNEL_ADMIN_TOKEN}

      KERNEL_READONLY_DB_USERNAME: ${KERNEL_READONLY_DB_USERNAME}
      KERNEL_READONLY_DB_PASSWORD: ${KERNEL_READONLY_DB_PASSWORD}

      DB_NAME: aether
      PGHOST: db
      PGPASSWORD: ${KERNEL_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      WEB_SERVER_PORT: 8000
    volumes:
      # media folder used by nginx
      - ./.persistent_data/kernel/media:/media
      # static folder used by nginx
      - ./.persistent_data/kernel/static:/var/www/static
    ports:
      # "HOST:CONTAINER"
      - "8000:8000"
    command: start


  # ---------------------------------
  # ODK Module
  # ---------------------------------

  odk-base:
    image: ehealthafrica/aether-odk:0.9.0-rc
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${ODK_DJANGO_SECRET_KEY}

      ADMIN_USERNAME: ${ODK_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ODK_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${ODK_ADMIN_TOKEN}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      DB_NAME: aether-odk
      PGHOST: db
      PGPASSWORD: ${ODK_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      WEB_SERVER_PORT: 8002
    volumes:
      # media folder used by nginx
      - ./.persistent_data/odk/media:/media
      # static folder used by nginx
      - ./.persistent_data/odk/static:/var/www/static
    ports:
      - "8002:8002"
    command: start


  # ---------------------------------
  # Aether UI
  # ---------------------------------

  ui-base:
    image: ehealthafrica/aether-ui:0.9.0-rc
    environment: &ui-environment
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${UI_DJANGO_SECRET_KEY}

      ADMIN_USERNAME: ${UI_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${UI_ADMIN_PASSWORD}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      DB_NAME: aether-ui
      PGHOST: db
      PGPASSWORD: ${UI_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      WEB_SERVER_PORT: 8004
    volumes:
      # static folder used by nginx
      - ./.persistent_data/ui/static:/var/www/static
    ports:
      - "8004:8004"
    command: start


  # ---------------------------------
  # Kafka & Zookeeper
  # ---------------------------------

  zookeeper-base:
    image: confluentinc/cp-zookeeper:latest
    restart: on-failure
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
    extra_hosts:
      - "moby:127.0.0.1"

  kafka-base:
    image: confluentinc/cp-kafka:latest
    restart: on-failure
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: -1
      ADVERTISED_HOST_NAME: kafka
    extra_hosts:
      - "moby:127.0.0.1"


  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  aether-producer-base:
    image: ehealthafrica/aether-producer:0.9.0-rc
    restart: on-failure
