################################################################################
#                                                                              #
#                         Requirements for generation                          #
#                                                                              #
################################################################################

aether.client
requests
