#########################################################################################
#                                                                                       #
#                              Frozen requirements                                      #
#                                                                                       #
#                               DO NOT CHANGE !!!                                       #
#                                                                                       #
#                                                                                       #
# Update me and then run 'docker-compose -f dcp-generation.yml run assets pip_freeze'	#
#                                                                                       #
#########################################################################################
